<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          Striped Progress bar
          <a
            class="get-code"
            data-toggle="collapse"
            href="#pgr3"
            aria-expanded="true"
            ><i
              class="fa fa-code"
              title=""
              data-toggle="tooltip"
              data-original-title="Get Code"
            ></i
          ></a>
        </h4>
        <div class="progress m-t-20">
          <div
            class="progress-bar bg-info progress-bar-striped"
            aria-valuenow="85"
            aria-valuemin="0"
            aria-valuemax="100"
            style="height: 10px;"
            [style.width]="getProgreso1"
            role="progressbar"
          >
            <span class="sr-only">85% Complete (success)</span>
          </div>
        </div>
        <div class="progress m-t-20">
          <div
            class="progress-bar bg-info progress-bar-striped"
            aria-valuenow="85"
            aria-valuemin="0"
            aria-valuemax="100"
            style="height: 10px;"
            [style.width]="getProgreso2"
            role="progressbar"
          >
            <span class="sr-only">85% Complete (success)</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador
          (valorSalida)="progreso1 = $event"
          [progreso]="progreso1"
        ></app-incrementador>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador
          (valorSalida)="progreso2 = $event"
          [className]="'btn btn-warning'"
          [progreso]="progreso2"
        ></app-incrementador>
      </div>
    </div>
  </div>
</div>

{{progreso1}}